a {
  color: #8C8DFF !important;
}

.nx-cursor-default {
  font-weight: bold !important;
}

.appicons {
  display: flex !important;
  justify-content: space-between !important;
  flex-flow: row wrap;
}

.appicons img {
  display: inline !important;
  width: 100px;
  border-radius: 21px !important;
}
